*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header {
    background-color: grey;
    text-align: center;
}
.main {
    background-color: black;
    color: aquamarine;
    text-align: center;
}
.footer {
    background-color: red;
    text-align: center;
}